{
    "extends": "eslint-config-egg",
    "root": true,
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "space-before-function-paren": [
            "error",
            "always"
        ],
        "quotes": ["error", "double"]
    }
}