{
    "extends": "eslint-config-egg",
    "root": true,
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "space-before-function-paren": [
            "error",
            "always"
        ]
    }
}